.container {
  background white
  justify-content center
  padding-top 30
  padding-bottom 30
}

.walletBalancesRow {
  flex-direction row
  justify-content space-between
  align-items start
  padding 15px 0px

  &:first, &:last {
    padding-bottom 0px
  }

  .priceColumn {
    flex-direction column
    align-items flex-start
    justify-content center
    // margin-right 24px

    .smallText {
      font-size 14px
      color rgb(173, 173, 173)
      line-height 14px
    }
  }

  &.underline {
    // border-bottom  1px solid #dedede
  }


  button {
    width 100px
  }
}

.base {
  flex-direction row
}

.closeButton {
  width 100%
}

.walletBalancesContainer {
  margin-left 32px
  margin-top 60px
  min-width 300px
}

@media (max-width 1300px) {
  .base {
    flex-direction column-reverse
    padding 0 20px
  }

  .closeButton {
    width 100%
    align-items flex-end

    button {
      max-width 400px
    }
  }
}

.imgToken {
  margin-right 6px;
  margin-bottom 2px;
}

@media (max-width 800px) {
  .closeButton {
    width 100%
    align-items: normal

    button {
      max-width 100%
    }
  }
}
