.container {}

.labelSpan {
  font-size: 14px
  color: #30303d
  font-weight: normal
}

.collectionType {
  border: 2px solid #e7ecf7;
  border-radius: 4px;
  padding:20px;
  width: 250px;
  min-height: 250px;
  margin-right: 20px;
  text-align:center;
  cursor: pointer;

  .collectionTypeImage {
    width: 100px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 40px;
  }
}
